/* Reset básico */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body { /* Corpo documento*/
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
}

header { /* Faixa no cabeçalho*/
    background: #6200ea;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 { /* Títulos*/
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    margin-top: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

label, input, textarea, button {
    margin-bottom: 15px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #6200ea;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #3700b3;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
}

.social-links li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-links img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    border-radius: 5px; /* Opção de estilo, remova se não quiser bordas arredondadas */
}
